@tailwind base;
@tailwind components;
@tailwind utilities;

/* For cutting edges and adding border */
.clip-trapezoid {
  position: relative;
  width: 24rem;
  height: 5rem;
  clip-path: polygon(
    0 30px,
    30px 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%
  );
}

.clip-trapezoid::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #bc2227;
  clip-path: polygon(
    0 30px,
    30px 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0 30px,
    2px calc(30px + 0.83px),
    2px calc(100% - 2px),
    calc(100% - 30px - 0.83px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 30px - 0.83px),
    calc(100% - 2px) 2px,
    calc(30px + 0.83px) 2px,
    2px calc(30px + 0.83px)
  );
}
