@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

.bg-dots {
  background-image: radial-gradient(circle, #ccc 1px, transparent 1px);
  background-size: 20px 20px;
}

.bg-fullscreen {
  background-image: url("../../public/media/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-attachment: fixed;
}

.clip-trapezoid {
  position: relative;
  width: 24rem;
  height: 5rem;
  clip-path: polygon(
    0 30px,
    30px 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%
  );
}

.clip-trapezoid::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #bc2227;
  clip-path: polygon(
    0 30px,
    30px 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0 30px,
    2px calc(30px + 0.83px),
    2px calc(100% - 2px),
    calc(100% - 30px - 0.83px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 30px - 0.83px),
    calc(100% - 2px) 2px,
    calc(30px + 0.83px) 2px,
    2px calc(30px + 0.83px)
  );
}
